[2020-06-05 12:07] snake302 opened #1 "Wrong user-email argument"
Hi there!

##[warning]Unexpected input 'git-user-email', valid inputs are ['entryPoint', 'args', 'source-directory', 'destination-github-username', 'destination-repository-name', 'user-email']

Your example says I should use **git-user-email**, but correct is **user-email**

[2020-06-05 20:14] cpina commented on #1
Thanks! I'll review this on the weekend!

[2020-06-08 21:50] #1 closed

[2020-08-07 14:07] dmnemec opened #3 "Receive error when pushing to enterprise repo"
Tested the action against one of my own repos (dmnemec) and it worked fine. Switched the destination repo to the actual target (an enterprise repo) and it received the following error

[code]

I haven't dug through the code, but could this be related to the token being generated from my account but the account name  and email in the action no longer being mine, but the enterprise account name inst

[2020-08-07 20:53] dmnemec commented on #3
https://github.com/cpina/github-action-push-to-another-repository/pull/4

[2020-08-12 21:26] jasontsaitks opened #5 "could I push to another branch other than master?"
could I push to another branch other than master?

[2020-08-12 21:34] cpina commented on #5
Ha! I was thinking of this while reviewing https://github.com/cpina/github-action-push-to-another-repository/pull/4 :-) not possible right now because "master" is hardcoded twice: https://github.com/cpina/github-action-push-to-another-repository/blob/master/entrypoint.sh but it could come from two variables (FROM_BRANCH and TO_BRANCH? ORIGIN_BRANCH and DESTINATION_BRANCH)

I might do it during the

[2020-08-12 21:35] cpina commented on #3
@dmnemec : can we close this ticket I guess after we merged your PR? thanks

[2020-08-12 22:04] jasontsaitks commented on #5
thank you for ur response.
I am new to github action...

my goal is:
In repoA,

1. checkout from repoB
2. do some work, generate some files
3. commit change
4. push to a new branch in repoB
5. create pull request in repoB to master

can this be done?

It looks like it is possible to do 1-4?
while waiting for your support, could you please guide me if it is possible to do 5?

[2020-08-12 22:22] cpina commented on #5
1-4 will be able to be done after I implement different branches (or feel free to submit a PR).

Number 5 is not in the scope of this GitHub Action but in your actions and a different step it should be possible to do it using the GitHub API: https://docs.github.com/en/rest/reference/pulls#create-a-pull-request . I haven't used this API so I don't know the details but I would look there.

I haven't

[2020-08-13 05:48] #3 closed

[2020-08-13 05:54] dmnemec commented on #5
@jasontsaitks  For step 5 there, you could have an action that triggers on a push/commit/something to a branch that isn't master in repoB. Step 4 will require a new optional (so it's backwards compatible) argument for the action similar to what I added to the entrypoint.sh script in #4 . You could just have it default to `master` unless it's set, then replace `master` in the few places it's at in

[2020-10-14 20:08] plocket opened #7 "Running the workflow deletes other files in the destination repo"
Thank you for this plugin. Generating and pushing one file deletes all the other files. Is that expected behavior? [Here is the code I'm using](https://gist.github.com/plocket/fa224e5054e344c0b053bb02348c92f2)

[2020-10-14 20:13] plocket opened #8 "Is there a way to specify a destination directory? And, if it isn't there, to create it?"
If we want the file to go in a specific directory in the destination repo, is there a way to specify that? If so, will it create the directory if the directory is missing?

[2020-10-15 10:57] cpina commented on #8
Hi @plocket  - currently there isn't a way to specify the destination directory in the output repository but it's quite easy to add this feature some time soon. Would it help you?

[2020-10-15 11:00] cpina commented on #7
Yep, it's expected: https://github.com/cpina/github-action-push-to-another-repository/blob/master/entrypoint.sh#L30

I'll review the documentation to make it more explicit.

Obviously I could make this optional but perhaps if I added the directory feature that we said in the other issue it would be enough for you?

[2020-10-15 22:25] plocket commented on #7
I think adding something to the documentation would be great. As for a directory feature, I think it'd be very useful in general, but the fact that the action deletes the other files in the repo means I can't use this action. I need to be able to add files to existing repos.

I do need to generate files, though, and I haven't seen something that can use a generated file like this action. I did see

[2020-10-15 22:59] plocket commented on #7
Eventually I'd actually like to copy a file in the source repo, modify it, and push that modified file into the right folders.

[2020-10-16 23:20] cpina commented on #7
Hi @plocket ,

The other (https://github.com/dmnemec/copy_file_to_another_repo_action) repository that you linked uses a very similar script to mine. I even had to double check if I or the other repo copied each other/was a forked/took inspiration from a common place :-)

I've had a look at your scripts. Without knowing the exact errors that you see, how they were triggered, etc. I'm not able to s

[2020-10-17 16:27] plocket commented on #7
Thanks for the tips. You're completely right about copying your repo and the other repo - when I said 'combining the two actions' I meant that I was combining the code from your repo and the code from the other repo. I made comments in the code that referenced both of your repositories and if I get it working, I'll put links to both of them in the README.

I decided to just fork your repo and chan

[2020-10-17 23:34] cpina commented on #7
Right now I was looking at your code. I couldn't find anything wrong with the current code (I didn't check the older one from 8 hours ago when you wrote): have you just fixed it? https://github.com/plocket/source_repo/actions :-)

[2020-10-18 16:08] plocket commented on #7
[This fork that I altered](https://github.com/plocket/push-generated-file) works and is complete now. I did change the names, like I said.

[An action I made myself by copying and pasting](https://github.com/plocket/push-generated-file-broken) creates errors when it's used. In my previous post I linked to an action that was failing when the code was trying to use this broken action. I still have n

[2020-10-20 00:55] plocket commented on #8
Thank you for the help in the previous issue. I think this could be a useful feature though I'm all set for now with the combo I created. Thanks again for the help and thank you for the core code for what I needed.

[2020-10-20 00:55] #8 closed

[2020-10-20 00:57] plocket commented on #7
It took a bit of playing around, asking some questions, and playing around a bit more, but I got something that works for me. As I said in the following issue, thanks for the help and for your code. I couldn't have gotten what I needed without it.

[2020-10-20 00:57] #7 closed

[2020-10-20 21:34] cpina commented on #5
Your PR got merged and the step 5 as said it would be a different action. I'll close this comment and thanks for the PR (in August, I just forgot to close the issue).

[2020-10-20 21:34] #5 closed

[2020-11-03 12:00] zhengpq opened #11 "Is it possible to add a inputs parameter to allow people to customize the content of git commit?"
hello Cpina!  Just like the question says, sometimes i want to add some content to the git commit, maybe like this:

[code]
Is it possible to add this?

Thanks !

[2020-11-04 05:26] TomasVotruba opened #12 "How to push tags as well?"
Hi,

thank you for amazing package. It's doing so much work for me :+1:

I have a use case, when I push `master` branch.
I also need to push current tag.

In Travis, it was possible to do something like this:

[code]

Would something like this be possible here too?

Thank you

[2020-11-04 16:54] cpina commented on #11
Good idea. I had some time today so I've done it:
https://github.com/cpina/github-action-push-to-another-repository#commit-message-argument-optional

Example:
https://github.com/cpina/push-to-another-repository-example/blob/master/.github/workflows/ci.yml#L30

[2020-11-04 16:54] #11 closed

[2020-11-04 18:06] cpina commented on #12
Hi Tomas,

I'm happy that this Github Action is helping you.

I'm not sure if I fully understand what you want to do. But before changing the current code I've thought of something. I've added in a branch that the `github-action-push-to-another-repository` sets a variable named `DESTINATION_CLONED_DIRECTORY`:
https://github.com/cpina/github-action-push-to-another-repository/compare/output-checkout

[2020-11-04 20:31] TomasVotruba commented on #12
Hi Carles,

thanks for a quick reply. I see I could explain it better.

- we have a monorepo migrify/migrify: https://github.com/migrify/migrify
- it has the push action GitHub Workflow: https://github.com/migrify/migrify/blob/master/.github/workflows/monorepo_split_packages.yaml
- we have a tag 0.3.53: https://github.com/migrify/migrify/tags

Now we need to push `master` branch and the tag that w

[2020-11-05 00:55] TomasVotruba opened #13 "How to make "no change to commit" fail?"
Hi,

in a case when there are no changes vs remove branch, the job will fail.

![image](https://user-images.githubusercontent.com/924196/98184149-fa556800-1f09-11eb-9225-b514ebc3dc55.png)

https://github.com/rectorphp/rector/runs/1355898228

How shall I avoid it?

Thank you

[2020-11-05 02:13] zhengpq commented on #11
cool !

[2020-11-05 08:30] cpina commented on #13
Hi Tomas,
Sorry about this error - it happened because of some other changes that I made yesterday (since this is used I might think of better tests for this tool)

I've done a quick fix that should fix this, I'll close this ticket but please re-open if you still have the issue.

[2020-11-05 08:30] #13 closed

[2020-11-05 08:31] cpina commented on #12
Thanks - I'll look at this properly! (I don't have time right now but tomorrow or Saturday yes for sure :-) )

[2020-11-05 12:51] TomasVotruba commented on #13
Hi, no problems,

thanks for quick fix!

[2020-11-05 13:45] TomasVotruba commented on #12
Thank you, no rush :)

[2020-11-05 17:08] TomasVotruba commented on #13
Btw, how can I updated to the latest version?

I use `@dev`, but the error is still there: https://github.com/symplify/symplify/runs/1359514607
(build finished 6 minutes ago)

[2020-11-05 17:48] cpina commented on #13
@TomasVotruba : could you try again please? In my morning rush I pushed the commit that was supposed to fix it in the wrong branch. I've tested with a re-build-no changes and it worked fine here. If it doesn't work I'll carefully check the logs of your build.

[2020-11-05 18:26] TomasVotruba commented on #13
Sure. I need to run now, but this was the failed build: https://github.com/symplify/symplify/runs/1359514607

I've just retriggered it...

[2020-11-20 19:04] francispeixoto opened #15 "default target branch no longer aligned with github standards"
github has changed its branch structure policy to favor 'main' as the default branch name.

In the action, unless 'target-branch' is forced to 'main', the default is still master.

[2020-11-21 17:41] cpina commented on #15
Thanks @francispeixoto for the issue . I had thought of this and the change would be backwards incompatible: if I changed the default branch and users updated to a new version: the behaviour would change unless they had specified the branch "master". That's why I haven't changed it yet.

I think that there are two options:
 * Make the default target branch argument mandatory in a new version. It w

[2020-11-21 17:58] francispeixoto commented on #15
i would probably go with the first option. as a developer, it's probably a better practice to explicitly understand and control your entire deploy flow rather than rely on the action maintainer keeping up with changing standards for critical parts of it like the source of the content ;)

[2020-11-21 18:03] cpina commented on #15
Thanks - I will wait one or two weeks to see if other people suggest anything else and probably make the change for the next release. That was a bit of oversight when I did it optional.

[2020-12-02 14:19] ruudk opened #16 "Cleaning destination repository of old files leaves .github directory and .gitattributes file"
It's related to this line:
https://github.com/cpina/github-action-push-to-another-repository/blob/976916018a4108195b74a5663a045141c6708c79/entrypoint.sh#L31

Because the directory `.github` starts with `.git` it's skipped. Same for file `.gitattributes`.

I tried `grep -v "^$CLONE_DIR/\.git$"` but that didn't work.

[2020-12-02 15:19] cpina commented on #16
Oops, I'll fix this

Did you mean "that did work"? Becasue I'm checking it locally and it works:
[code]

If you confirm that this worked for you (I think so for what I see in your repository) I'll make the change in this repo.

Thanks!

[2020-12-02 15:23] ruudk commented on #16
No, it didn't work. On macOS in bash it works. But since this is running in `bin/sh` you might want to try it there.

[2020-12-02 15:23] ruudk commented on #16
See https://github.com/LongRunning/LongRunning/runs/1486470971?check_suite_focus=true

It uses TomasVotruba/github-action-monorepo-split@cedf23162acafcf5fb036d911606a33318dc5f87
that is based on this repo.

[2020-12-02 15:35] cpina commented on #16
I've just tried locally with a Busybox environment (it might depend on the version of grep and find*) and it was working for me.

I'll give it a try in the action itself, thanks for the ilnks.

*: e.g.:
[code]

Either way, I'll try in the GitHub Action :-)

[2020-12-02 16:25] cpina commented on #16
While testing the fix that we discussed above I had a different problem: $CLONE_DIR/.git was not removed but files like $CLONE_DIR/.git/HEAD were removed.

I've pushed to https://github.com/cpina/github-action-push-to-another-repository/commit/ec672cbc0a61a428e1678d62a43fbeb8a6ea0154 a cleaner (I think) solution using only path and excluding paths instead of concatenating different "grep -v". Hope

[2020-12-02 17:49] ruudk commented on #16
@cpina Wow, thanks! Gonna try it.

[2020-12-02 17:49] #16 closed

[2020-12-02 19:00] ruudk commented on #16
Still getting issues here :(

https://github.com/symplify/github-actions/runs/1488292885?check_suite_focus=true

https://github.com/symplify/github-actions/blob/master/packages/monorepo-split-github-action/entrypoint.sh#L50

[2020-12-02 19:06] ruudk commented on #16
Found a way to reproduce it:
[code]

Then run:
[code]

[2020-12-02 19:08] cpina commented on #16
Oh! I have an idea of what could the problem be. I'll check later today and let you know

[2020-12-02 19:21] ruudk commented on #16
I'm trying a different approach that seems much simpler, maybe you can use it as well: https://github.com/symplify/github-actions/pull/12

[2020-12-02 19:58] cpina commented on #16
I think that I'll use your approach. I had thought of this long time ago and I thought that "deleting it is equally simple" and I don't think this anymore!

[2020-12-02 20:15] cpina commented on #16
@ruudk : I've pushed to `master` the `mv` approach and tested. Thanks for the feedback!

[2020-12-02 20:16] ruudk commented on #16
@cpina Great Thanks for helping me out, much appreciated 🙌

[2020-12-08 12:36] orihomie commented on #12
Hi there, waiting for tags too.

[2020-12-08 13:35] TomasVotruba commented on #12
In the end, I've solved this with custom GitHub Action, that is tailed to monoreno needs:
https://github.com/symplify/monorepo-split-github-action/

[2020-12-08 13:35] #12 closed

[2020-12-10 16:28] KomaGR commented on #8
I would like to +1 this feature request.

@plocket: What combo did you create to bypass this need?

[2020-12-10 20:07] cpina commented on #8
@KomaGR : the github action, as it is now, it's deleting all the contents in the destination repository and then copying the generated files there. Would you still like that it deletes everything and creates a directory? Or in this case it should delete only the contents of the directory?

I'm thinking of adding this feature or not and if it would help in your use case.

[2020-12-14 13:58] plocket opened #17 "Does $TARGET_BRANCH cloning work when it doesn't exist on the destination repo?"
I ran into that problem with my fork - when the $TARGET_BRANCH doesn't exist, cloning fails. Just wanted to give you a head's up in case it's useful.

[2020-12-15 13:54] plocket commented on #17
I had to handle it in three places in the end:
1. When cloning
1. Checking out the branch by name (when it didn't already exist)
1. Pushing (which this repo already has)

I also needed a variable to keep track of if it did or didn't exist. See https://github.com/plocket/push-generated-file/blob/master/entrypoint.sh

[2020-12-19 03:37] Laurianti commented on #8
I'm interested to have the possibility to publish on specific directory and/or to avoid the deletion of previous files.
Thank you.

[2020-12-19 19:27] plocket commented on #8
@KomaGR : This is the code I've got right now and it's working ok for me: https://github.com/plocket/push-generated-file.

I forked this repo and used [@dmnemec's repo to make some changes](https://github.com/dmnemec/copy_file_to_another_repo_action). I also saw some more recent changes in here and built off of those too (thank you @cpina)

I have a destination folder input for the action here: ht

[2021-01-12 18:42] gabrielradureaupw opened #18 "Pushing commit fatal: could not read Username for 'https://github.com': No such device or address"
Hello,
The github action is failing me at the last step. Cloning, and commiting worked fine but I get the following error at the last step.
![image](https://user-images.githubusercontent.com/74105788/104357875-082cf800-550e-11eb-9165-5debadd4ff16.png)
How can I help ?

[2021-01-12 23:34] cpina commented on #18
Hi Gabriel,
In order to help easier: do you have a link to the GitHub Action that is failing? (if it's a public repo it's easy). I haven't had this problem or seen it.
Hopefully then I can help easier!

[2021-01-18 22:14] gabrielradureaupw commented on #18
Thank you @cpina for your quick reply, the error was on my part. Sorry for the disturbance.

[2021-01-18 22:14] #18 closed

[2021-01-20 22:57] fanlushuai opened #19 "Feature Suggesion: Add a option use for switch whether overwrite all clone file"
just like:

finnal-push ：[keep source | keep source and target but overwrite if name exsit |   keep source and target but keep others if name exist |]

[2021-02-15 21:49] nedbat commented on #8
Another fork is also adding this feature: https://github.com/sebastian-palma/github-action-push-to-another-repository/tree/allow-creating-destination-directory

[2021-02-27 14:56] arnavs commented on #18
I had the same bug just now. I think it's either a misconfigured API key or the old syntax doesn't work. This is the commit that fixed it:  https://github.com/QuantEcon/lecture-datascience.myst/commit/53f772a7dac6d18707751c9c9e3a68d250ec30be

Could easily be the API key, but wouldn't that generate its own error? (i.e., something like `can't authenticate`)

[2021-02-27 15:03] arnavs opened #21 "Support for "main" branch [Feature Request]"
First of all, I think this is a great extension! We use it in the build pipeline at @QuantEcon projects.

My question is, since GitHub has switched over to `main` as the new default branch, is it possible to add some sort of switching logic? (i.e., check if `main` and `master` exist... use if only one exists, choose a default if both exist?)

For example, this is the alias I set up to purge non-`m

[2021-02-27 15:05] arnavs commented on #21
Just saw #15, will close in favor of that.

[2021-02-27 15:05] #21 closed

[2021-02-27 15:06] arnavs commented on #15
I think one option is to check if `main` and `master` exist, and then choose based on that. i.e...

1. If none exist, throw an error.
2. If one exists, use it.
3. If both exists, use a default. (Could be either one, depending on your preference.)

[2021-02-27 18:18] cpina commented on #15
@arnavs : I like this idea, I really need to look into this soon (the master-main thing). Thanks for the reminder!

[2021-03-03 22:48] ethangk commented on #18
Thanks for creating this action! I was running into this issue too. For anyone else that's experiencing this, my case was caused by not setting up the api token, as described [here](https://github.com/marketplace/actions/push-directory-to-another-repository#api_token_github-environment)

[2021-03-07 01:08] tomtom94 opened #22 "Variable in commit-message ?"
Hey would it be possible to make

[code]

[2021-03-11 06:26] donnisnoni opened #23 "Option for destination folder on target repository"
Would be nice if this action provide an option to specify destination folder on target repository

[2021-03-13 17:48] Ganevru opened #24 "cp: can't stat 'examples/chronoblog-netlify-cms/*': No such file or directory"
Hey! Thanks for this project.

Perhaps I don't understand something, but I get an error:

`cp: can't stat 'examples/chronoblog-netlify-cms/.': No such file or directory`

when launching an action.

Here is the complete code of the yml file:

[code]

Yes, this is an open source project, here is the entire mono repository from which I'm trying to copy some of the files: https://github.com/Chronoblog

[2021-03-16 23:46] Ganevru commented on #24
for some reason the error disappeared - I don't know why, I didn't change the settings - maybe I had problems with the repo structure

[2021-03-16 23:47] #24 closed

[2021-03-27 20:17] Ganevru opened #25 "Does not copy files whose name begins with a dot - such as .eslintrc.json, .prettierignore and .prettierrc.json"
Thanks for the action, it's very useful!

The problem is that files such as **.eslintrc.json**, **.prettierignore** and **.prettierrc.json** are ignored and not copied to the repository.

They are also not mentioned in the terminal:

[code]

only files related to the git are not ignored (which also have a dot).

I use this action in open source, so if it somehow helps, here's the repository where

[2021-03-27 23:09] cpina commented on #25
Oops, I need to look at this and some other issues soon (main/master thing). Hopefully next weekend I should have some time to address these things and do a new release (if not before). Thanks for the issue!

[2021-03-28 14:29] manuelemacchia opened #26 "cp: can't stat 'public/.': No such file or directory"
Hello!

I'm getting an error when attempting to run the action.

I'm trying to push the contents of the folder `public` in my repository [`manuelemacchia/website`](https://github.com/manuelemacchia/website) into my other repository [`manuelemacchia/manuelemacchia.github.io`](https://github.com/manuelemacchia/manuelemacchia.github.io).

`manuelemacchia/website` contains the source code of a [Hugo](

[2021-03-29 16:21] manuelemacchia commented on #26
By the way, the same problem is also described in issue #24. However, unlike the author of #24, I'm still dealing with this error.

[2021-04-07 14:23] flikkr commented on #26
I saw you found a workaround to your project. I'm encountering the same issue in mine, do you have any suggestions? Did you just copy the main code from this repo to your own project?

My action:
[code]

The error:
[code]

[2021-04-07 14:48] manuelemacchia commented on #26
I couldn't get the original action to work, so I moved it over to my repository as a local action and edited the source.

It works fine now, if you want to have a look, all the required code is available here: https://github.com/manuelemacchia/website/tree/main/.github -- it should only require minor edits to adapt it to your repository (change the username, repository name etc.)

[2021-04-08 23:24] cpina commented on #26
@manuelemacchia : for what I can see in this part:

I think that you might have needed to have a step before `uses: cpina/github-action-push-to-another-repository@master` to checkout the repository. That's why the GitHub Action didn't find "public" - it wasn't there because I think that it needs to be checked out first. In your modified version you are cloning it:

https://github.com/manuelemacchi

[2021-04-08 23:26] cpina commented on #26
Hi @flikkr,

Deleted for clarity

For what I understand in https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idoutputs the second job (`cpina/github-action-push-to-another-repository@master`) cannot access the files of the first job. It could access strings but not files.

My suggestion is to try to use the `cpina/github-action-push-to-another-repository@maste

[2021-04-08 23:28] cpina commented on #24
@Ganevru: sorry for the slow delay! I've been extra busy with work! Good that it works for you...

For reference, in #26 there are two possible problems with the same symptom as yours. In the next release I'll add better error messages for this case. I haven't checked if you had the exact same problem in your pipelines.

Let me know if you need anything else!

[2021-04-08 23:47] cpina commented on #25
Hi @Ganevru

I think that I see what's happening (actually two things are happening! sorry about that!). The files that you see listed by the GitHub Action are the files from the destination directory (and this is confusing, I'll make some changes to clarify this in the next version).

The files that should be copied are the files (in your examples) in `examples/chronoblog-netlify-cms/`.

I've don

[2021-04-11 16:46] Ganevru commented on #25
Yes, using `master` works! Thank you.

About `.eslintrc.json `and `.prettierrc.json` - I deleted them and transferred their functionality to files without dots. I left only `.prettierignore` as prettier has no way to use a different ignore file format. This was done in order not to confuse users.

[2021-04-11 17:15] #25 closed

[2021-04-13 14:49] flikkr commented on #26
Hey, thanks for the update. I tried adding it as a step in the first job as suggested but couldn't get it to work either. What I ended up doing is merging the `build` and `gen_page` job together and that seemed to do the trick.

[2021-04-22 05:33] robertlugg commented on #15
I would like to suggest something that might be quicker for you and may be sufficient.  In your example where you are generating those panda docs, you give most of the arguments, but not target-branch.  My suggestion is to add into the example

    target-branch: master

Just having it explicit would let us know that we need to change it.

[2021-04-22 07:23] cpina commented on #15
Yes, I might end up doing this to keep it simple and explicit... (less checks). Still in my to do list :-) thanks!

[2021-04-25 16:44] cpina commented on #26
Hi @flikkr . I haven't checked in detail what you did but I think that it makes sense.

Today I've done a new release that, if the directory is not found, it shows a better error message to the user so hopefully it might help users that get stuck.

I'll close this issue but feel free to re-open this one or create a new one if you encounter any problems.

[2021-04-25 16:44] #26 closed

[2021-04-25 16:49] cpina commented on #17
Sorry for the long delay here!

You are 100% right (if the target branch doesn't exist clone fails). I will probably report this to the user instead of creating a new branch automatically but I'll see (I might report it instead of creating a new branch and the reason is that a typo in the TARGET_BRANCH would create a new branch instead of saying to the user that the branch doesn't exist... if it's

[2021-04-25 16:50] cpina commented on #15
I've updated the example to add the TARGET_BRANCH so it's more visible.

I might make more improvements here in the future (e.g. the default to be main and if it fails to master).

Thanks for all your comments.

[2021-04-25 17:03] cpina commented on #22
Hi @tomtom94  - and sorry for the long time to reply. I've had some very busy months.

I've done something similar to what you've suggested, available on the `main` branch. It can be used like this (just $GITHUB_REF):
https://github.com/cpina/push-to-another-repository-example/blob/main/.github/workflows/ci.yml#L31

I haven't documented yet, and I wonder if I should write a small function to itera

[2021-04-29 17:57] tomtom94 opened #28 "Error: Unable to resolve action `cpina/github-action-push-to-another-repository@master`, unable to find version `master`"
[code]

This message appears in my github actions, before everything was totally until now.

What have done bro ???

[2021-04-29 21:38] cpina commented on #28
A few days ago I renamed the default branch from "main" to "master" to follow GitHub new defaults. I had assumed (wrongly) that GitHub redirected the branches.

For now I've made the repository available on `main` (new default) and `master` so it should work for you again without changing anything.

Let me know if you have any related problems re-opening this issue. Thank you for the report and ap

[2021-04-29 21:38] #28 closed

[2021-05-12 15:59] BeastyBlacksmith commented on #7
I may need a clarification here. Does it delete files on all branches or only the target branch?

[2021-05-12 16:11] cpina commented on #7
@BeastyBlacksmith : Always test it, just in case, but it is the target branch only.

[2021-06-14 10:23] KaviiSuri opened #30 "Add an argument for folders / files to ignore"
A functionality to ignore some folders and files might be really useful.
I recently tried using this action to copy the whole repo to another repo in order to host it.

`.git` folder was also copied in the copy step resulting in the action trying to push back to source repo and fails.

[2021-06-30 10:53] sanihaq opened #32 "Option to use ssh"

[2021-08-08 18:21] mehdi-developer opened #33 "How to push the whole repository files to another repository ?"
How can I push the whole repository files to another repository ?
If I put an empty string it throws an error :
`
 - name: Pushes to another repository
        uses: cpina/github-action-push-to-another-repository@main
        env:
          API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
        with:
          source-directory: ""
          destination-github-username: "username"
          dest

[2021-08-24 19:12] piranna commented on #23
It seems like https://github.com/DevOpenWRT-Router/github-action-push-to-another-repository implements this, can it be merged?

[2021-08-30 22:05] Eliminater74 opened #34 "Doesnt seem to follow Symbolic links"
No matter what I do, this doesnt seem to follow **Symbolic links at all..**

I have tried over and over to find out why it wouldnt change to Directory always said no such directory..

dir is a **Symbolic link, but this doesnt see it.....**

[2021-09-10 20:00] YevhenHerasymenko opened #36 "Support MacOS"
I tried to run your action on macOS machine but got error:
Error: Container action is only supported on Linux

Can you add support for macOS

[2021-09-20 07:14] marikaner opened #37 "Support GHES"
Hi, your action seems like it is doing exactly what I would need, but I can't use it because it won't work with GHES as `github.com` is the hardcoded server url. It would be great to consider this, similar to the [checkout action](https://github.com/actions/checkout/blob/afe4af09a72596f47d806ee5f8b2674ec07fdc73/src/url-helper.ts#L22).

[2021-09-25 22:50] Shahzad6077 commented on #33
@mehdi-developer ? is that work for you?

[2021-09-25 23:45] mehdi-developer commented on #33
@Shahzad6077 No I used andstor/copycat-action@v3 for pushing the whole repo files and not a folder  .

[2021-09-28 11:21] Albinzr opened #38 "[Request] ability to tags with auto increment value"
Is there an option to tags with auto-increment value?

[2021-10-14 15:53] concertypin opened #40 "Support Git LFS"
I tried to upload the files as my personal report, but I saw this error.
[code]
So I looked up the document to see if Git LFS was also possible to commit, but I couldn't find it. That's why I want you to support the Git LFS commit.

[2021-10-19 16:13] softmarshmallow commented on #23
https://github.com/cpina/github-action-push-to-another-repository/pull/41

[2021-11-01 12:41] bandantonio opened #42 "nothing to commit, working tree clean"
Hi
No matter what I do, I'm constantly seeing this in logs:

[code]

The job sees source and target directories correctly but even after merging a PR to master, it can't track new changes. Can't figure out what I'm doing wrong.

[2021-11-01 12:44] bandantonio commented on #42
Another question: As I can see from the current behavior, the action works only with the master (source) branch. Is it possible to define a **custom source branch**? It would be extremely useful for testing purposes.

[2021-11-08 19:03] hefekranz opened #43 "files not deleted"
Hi there and thanks for creating this action.
I realized that (maybe for a while, maybe since a recent change) deleted files aren't included in the commit to the dest. repository. It looks like this has something to do with the new TARGET_DIRECTORY, if none is set, it wont remove the content  from the root. And cp will just add new files.
I didn't really want to touch the TARGET_DIRECTORY logic, b

[2021-11-08 21:40] cpina commented on #43
Hi Levin,
Thanks for letting me know, I'll check this the next days.
(good idea using rsync for this :-) )

Cheers,
Carles

[2021-11-15 03:20] LanKuDot opened #45 "ls: <file path>: No such file or directory"
Hi, I tried to use this action to push the output directory of the Jekyll builder to another repository.
But the actions failed when this action tried to list the content of the output directory.

Here is the setup:

[code]

I inserted a step to list the content of the directory, and it did.

[code]

And the message of the action is:

[code]

Did I missed something? Thanks!

[2021-11-15 09:50] LanKuDot commented on #45
OK, I figured it out.

The directory of the workspace will be mounted at the working directory of the docker container which this action used.
I only need to specify the subdirectory in the workspace as the `source-directory` rather than the path in the top container.

So the solution is:
[code]

[2021-11-15 09:50] #45 closed

[2021-11-18 21:05] michelmetran opened #47 "Problems using across organizations repositories"
It serves very well what I need.
I ran several tests on my personal account, with success.

However, when trying to use Git Action on an organization account, I get an error.
[code]

Already tried:

1. Add the personal token I created in [https://github.com/settings/tokens](https://github.com/settings/tokens) as the organization secret. Did not work.
2. Add in the personal token, in addition to th

[2021-11-18 21:37] michelmetran commented on #47
Sorry! More study and found out!

I inserted the token as secret of the private repository and it worked.
I was trying with the token as the secret of the organization and I read that
_"Organization secrets can only be used by public repositories on your plan."_

Can close this issue!
I will not delete it, in case anyone has this doubt!

[2021-11-23 15:18] #47 closed

[2021-12-08 22:05] tc-imba commented on #43
same issue

[2021-12-08 23:05] cpina commented on #43
@hefekranz , @tc-imba , @Belax8: the issue is now fixed (as far as I've tested it!) in the `main` branch.

At some point I should write tests for the small action.

Apologies for the slow delay and thanks for pinging here around, it was my to do list for two weeks :-)

Any problems let me know please in this issue or a new one.

[2021-12-08 23:05] #43 closed

[2021-12-08 23:09] cpina commented on #42
@bandantonio : if you are still trying to use it: could you link to the repository so I can see the file `.github/workflows/ci.yml`? I might be able to help in this case.

The custom source branch should be the branch that is executed by the Action. The script is not doing a checkout of the source repository (the files are already there when this step is executed, possibly by the step `actions/che

[2021-12-08 23:11] cpina commented on #38
Not at the moment - could you describe a bit more what do you mean?

Is it: in the target repository to get the latest tag number and increment it?

[2021-12-08 23:14] cpina commented on #37
@marikaner : this is implemented thanks to https://github.com/cpina/github-action-push-to-another-repository/commit/c3f0aa4db9e5f583937038696908d4403942d38c .

It's available on the `main` branch. I plan to release a new one next week (`v1.4`).

Use the parameter `github-server`. I haven't tested myself but let me know if you find any problems.

[2021-12-08 23:14] #37 closed

[2021-12-08 23:16] cpina commented on #36
Do you have a link to the repository with the logs for this?

[2021-12-08 23:16] cpina commented on #34
Could you add a link with the repository? I will have a look if this is still a problem.

[2021-12-08 23:18] cpina commented on #33
For the record: I suspect that `source-branch: .` might have worked. I might try some day.

I'm happy that you found a solution though! :)

[2021-12-08 23:18] #33 closed

[2021-12-08 23:19] cpina commented on #32
Thanks for the request - I wonder: is it not possible to use `https` with the `$API_TOKEN_GITHUB` for you?

[2021-12-08 23:21] cpina commented on #30
Thanks - this make sense.

Meanwhile some other users mentioned another solution: https://github.com/cpina/github-action-push-to-another-repository/issues/33

[2021-12-08 23:21] cpina commented on #33
Related: https://github.com/cpina/github-action-push-to-another-repository/issues/30

[2021-12-08 23:21] cpina commented on #45
Thanks for adding the solution! :-)

[2021-12-08 23:22] cpina commented on #47
Thanks for adding the solution :-)

[2021-12-08 23:22] cpina commented on #23
As said: available on `main`, next week I plan to release a new version with this included in `v1.4`.

[2021-12-08 23:22] #23 closed

[2021-12-08 23:24] cpina commented on #17
Just to say - I will review this before the next version soon.

[2021-12-08 23:28] cpina commented on #15
`target-branch` is `main` in `main` (but not in `v1.3`). I will release `v1.4` next week probably.

[2021-12-08 23:28] #15 closed

[2021-12-10 15:34] Gaming32 commented on #19
Please add this option. Without this option, this action will be impossible for me to use.

[2021-12-13 11:42] Wokstym commented on #17
Hi, I've added fix to that problem:
https://github.com/cpina/github-action-push-to-another-repository/pull/49

[2021-12-13 14:03] cpina commented on #17
@Wokstym : I like it, I will give a quick test / probably merge tomorrow before releasing the new version.

Thanks very much for your help, busy days :-)

[2021-12-15 07:47] sanihaq commented on #32
Hi. sorry I should have explained it more at the time. I believe I was trying to do something with a private repository and https was not working. Again sorry. At the end I scrapped that project (not because of this).

[2021-12-15 08:38] cpina commented on #32
Hi @sanihaq - no problem! Private repositories should work with the token, I'll close the ticket. If the action is pushing into a github repo the current way should work. ssh would help to push to non-github repos but the action would need to deal with ssh keys, etc.

Long story short: I'll close the issue for now :-) thanks anyway!

[2021-12-15 08:38] #32 closed

[2021-12-19 13:03] drewdecarme commented on #42
I'm having the same issue at the moment. When I run the checkout before the script, it finds all of the files but then it says that there's nothing to commit. In addition, checking out the repo also causes a 403.

Here's a log of the action: https://github.com/the-montessori-woodshop/the-montessori-woodshop/runs/4574401075?check_suite_focus=true

Here's the GitHub action.yml file: https://github.c

[2021-12-20 14:32] drewdecarme commented on #42
Turns out the issue I had was that I was trying to copy the root of my source directory with the `.git` folder inside of it. Copying that to the root of the destination repository was causing issues. I instead added a `target-directory` to the script and everything worked great :)

[2021-12-28 11:54] nedbat opened #52 "Option to create the target directory if it doesn't exist"
This is available in https://github.com/sebastian-palma/github-action-push-to-another-repository.  Can we add it to this repo to consolidate the functionality?

[2021-12-28 20:37] cpina commented on #52
I'll look into it, hopefully over the next 7 days :-) I'll comment here with any update. Thanks for pinging :-)

[2022-01-04 00:56] softmarshmallow opened #53 "Folders not being copied from depth 2?"
Origin

- A/
  - a.txt
  - B
    - b.txt

Output (from dest repo)

- A/
  - a.txt

The sub directory not being pushed. Am I the only one having this issue?

[2022-01-04 08:20] cpina commented on #53
This is strange. Do you have this in a public repo that I could see the output of the action to see if I could debug it? (the logs, the source and the destination?).

[2022-01-04 08:24] softmarshmallow commented on #53
@cpina  Sorry. my mistake It was caused by .gitignore's content.
Hard to catch ;)

[2022-01-04 08:24] #53 closed

[2022-01-04 08:37] cpina commented on #53
Thanks for the update :-)

[2022-01-15 22:47] rafaeltovargarrido opened #54 "Arg target-directory is not working"
Hello I try to use this action but I think there a issue when I try to use the arg target-directory, can you help to undestand why I having this issue.

My pipeline is:

`name: Push File

on: push

jobs:
  copy-file:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - run: |
        chmod +x ./build.sh
        ./build.sh
    - name: Push directory to an

[2022-01-18 09:35] laurentleseigneur commented on #54
Hi, I have the same issue using v1.3

even if arg is passed to the docker container

[code]

is this due to the `${11}` that could be `$11` ?

I Also notice that expected input does not match arg seen in the `action.yml` file

[2022-01-18 09:38] cpina commented on #54
I'll try to have a look this evening. Sorry for the problems, I haven't had much time recently :-(

If you can post a link to your repo with config it might help when I have a look (not really needed but just in case I see something specific to you).

[2022-01-18 15:58] laurentleseigneur commented on #54
Hi Carles,

Thanks for your quick response!

my repo is private, but here is the action I use:

[code]

and the output:

[code]

[2022-01-18 17:54] laurentleseigneur commented on #54
seems this option is available on main branch, but not on v1.3 tag. I will give a try using "main" instead of tag

[2022-01-18 18:03] laurentleseigneur commented on #54
problem is solved if I use
`uses: cpina/github-action-push-to-another-repository@main` instead of `v1.3`, even if I would prefer to use a tag, this works for me

Thanks again for this useful action

[2022-01-19 22:23] cpina commented on #54
Excellent! Thanks for letting me and everyone know. I need to release `main` to `v1.4` to avoid these problems.

[2022-01-20 22:49] cpina commented on #54
Closing as I published a new version that would have worked for you @laurentleseigneur (based on main)

Times flies, almost 8 months without publishing - apologies, busy year!

Thanks all,

[2022-01-20 22:49] #54 closed

[2022-01-21 08:25] laurentleseigneur commented on #54
👍
thanks for the new release!

[2022-01-21 13:01] Shahzad6077 opened #55 "Unexpected target directory created called `1`"
Hey @cpina, the release is not working as expected.

Here It's created a target directory called `1` I tried to pass the input `target-directory: './'` but got the same issue

![image](https://user-images.githubusercontent.com/44517352/150528701-1d0ea253-13b9-4563-be8b-549fdadb3304.png)

[2022-01-21 16:38] cpina commented on #55
Thanks @Shahzad6077 - I'll look into this and update the ticket.

To make sure that I fix what you've found: do you have a link to the repo that you've tried using the target-directory?
(I'm going to try it anyway but just in case it helps)

Thanks!

[2022-01-21 16:42] Shahzad6077 commented on #55
I've used the action in the private repo, I will reproduce it in the public repo and share the link.

[2022-01-21 16:43] cpina commented on #55
Don't worry, I can reproduce it. Fixing...

[2022-01-21 16:49] cpina commented on #55
@Shahzad6077 : I've released v1.4.1 that should fix this (it did for me).

Many apologies. I want to sit down and write unit tests for the action and I haven't had time for this, sadly. It's in my to do list.

I'll close this ticket now but feel free to open it again if you find a problem. Very appreciated that the github action is used.

[2022-01-21 16:49] #55 closed

[2022-01-21 16:50] adibozzhanov commented on #55
Was the issue fixed?

[2022-01-21 16:51] Shahzad6077 commented on #55
Awesome, Thanks

[2022-01-22 07:27] nedseb opened #56 "Parameters expansion stop to work since 20/01"
I use your action for more than two months to push my static assets and until now everything is working as expected.
https://github.com/letssteam/pxt-lets-steam/actions/runs/1729730996/workflow#L35

Since yesterday morning, I had an issue with parameters expansion.

When my action generates the files, the target_folder become just 1 :
https://github.com/letssteam/pxt-lets-steam/runs/4899231832?che

[2022-01-22 07:29] nedseb commented on #56
probably already resolved with https://github.com/cpina/github-action-push-to-another-repository/commit/483689a71cf9d3a0bbdd79d23e00646ef4124391

I will check immediatly

[2022-01-22 07:43] nedseb commented on #56
Everything is back to normal!

[2022-01-22 07:43] #56 closed

[2022-01-22 19:51] SooluThomas opened #58 "[request] ability to push file but keep some files from deleting in the same folder"
The current workflow will automatically wipe all contents if no `target-directory` is mentioned. I'd like to request for a feature which allows some files to stay.

Something like `ignore-files: "./README.md"`

Thank you

[2022-01-22 21:50] cpina commented on #58
Thanks, I will consider it, it's definitely a good idea. I'm trying to not add more features until I've written tests for the action. Otherwise it gets harder to test and too easy to make mistakes.

[2022-01-22 21:51] cpina commented on #52
I want to implement this but first I want to write tests for the action to avoid regressions. Thanks for the idea!

[2022-01-22 21:52] cpina commented on #42
Thanks @drewdecarme for the update. I want to spend some time writing tests and I will add one for this and try to fix it. No ETA yet :-( but I'm happy that it's all good for you! :-)

[2022-01-22 21:59] cpina opened #59 "Write tests"
(Maintainer here)

Before adding more features and merging PRs (unless they fix an error) I want to write tests for the github action (should have been done long time ago).

Testing the action is getting harder and harder as we add features and I really want to avoid regressions.

I might have some time towards end of February 2022 but if anyone wants to have a look at writing tests it might speed

[2022-01-22 22:03] cpina commented on #58
Possible related: https://github.com/cpina/github-action-push-to-another-repository/issues/30

[2022-01-25 14:27] SooluThomas commented on #58
@cpina I'm curious if `source-branch: .` would again wipe the directory or not

[2022-01-25 21:55] cpina commented on #58
@SooluThomas : I've had a look and it works as I had expected, but let me know if you expect something else, see something else or if the documentation is not clear.

If there is no `target-directory`: yes, it wipes out (but you can restore via git if you made a mistake) the destination repository. The reason is that initially there wasn't the `target-directory` option and when I added I kept the

[2022-01-25 23:04] SooluThomas commented on #58
Thank you. I just realized that I asked the wrong question. So, do we have any workaround for making sure that some files in the `target-directory` are retained i.e., not deleted?

[2022-01-26 08:23] cpina commented on #58
:+1: looking forward to implement it! :-) (don't expect it for quite a few weeks minimum).

At the moment a possible way is that you need to copy the files into the "source-directory" in the github action so they are copied across. For example with a command before the github-action-push-to-another-repository

[2022-02-24 03:58] abvijaykumar opened #61 "Why are all the files getting deleted."
Hi I just noticed and read in the readme that the target folder is cleared. Why can't I just push the changes..rather than clearing the target

[2022-02-24 07:42] cpina commented on #58
Note to myself for when I implement this: to allow to keep all the files of the destination directory (perhaps in a different flag)

[2022-02-24 07:43] cpina commented on #61
Hi @abvijaykumar - thank you for your comment.

The action was designed for clearing the target folder in order to have a "mirror". This doesn't suite everyone so there is a ticket to allow to keep all/certain files (https://github.com/cpina/github-action-push-to-another-repository/issues/58)

Before adding more flags I really want to add tests. I'm trying to find time for this at the moment! :-)

[2022-02-24 07:43] #61 closed

[2022-02-26 04:43] KaviiSuri commented on #59
Hey, If this issue is still up for grabs, I'd like to help out!

[2022-03-09 17:08] jacquelinegarrahan opened #62 "Question: How are "missing" files handled?"
Hi,

For our workflow we generate a number of artifacts based on our main repository branch and are pushing those artifacts to a separate repo. How does this workflow handle files that might be removed? Will those still be available in the git history of the target repo or is the entire history overwritten?

Thanks

[2022-03-09 23:02] cpina commented on #62
Hi @jacquelinegarrahan ,

History is preserved. The files that were there and not anymore can be seen in the latest git commit.

For example, I pushed a new file that got deleted by the GitHub action. The file was new_file.txt. The latest commit done by the action is:
https://github.com/cpina/push-to-another-repository-output/commit/a856a4a5d907ddb0904dd1234fc20771799cabc1

new_file.txt was pushed

[2022-03-09 23:02] #62 closed

[2022-03-10 00:12] jacquelinegarrahan commented on #62
Thanks for your help & great project

[2022-03-31 21:28] Ismoh commented on #36
Maybe this helps:

[code]

![image](https://user-images.githubusercontent.com/12631485/161152281-a4fdb99b-aedb-4546-ac06-ed7506d7291f.png)

macos-latest doesn't work for me as well, but ubuntu-latest works fine.
As long as you are able to change this @YevhenHerasymenko , it might help.

[2022-04-05 05:42] balasharan opened #63 "my git hub private url is not getting updated"
my git hub private URL is not getting replaced can some one help me.
my organization URL is not getting replaced it is printing has github.com

[2022-04-13 04:20] gdonoso94 opened #64 "fatal: unsafe repository ('XXXXXX' is owned by someone else)"
Hi,

I'm encountering an error when running this action to push to another repo:

[code]

Looks like this is related to [this](https://github.blog/2022-04-12-git-security-vulnerability-announced/).

I have tried already setting the ownership of the containing folder in a previous step in my job but no luck yet.

Is there any workaround?

Thanks in advance

[2022-04-13 05:13] bugoverdose commented on #64
I'm currently facing the same issue.
It worked fine until few days ago, but now I started seeing the same `fatal: unsafe repository ('/tmp/tmp.XXX' is owned by someone else)` exception message.

[2022-04-13 06:35] cpina commented on #64
I'll try to reproduce and have a look - thanks for the heads up!

[2022-04-13 06:57] cpina commented on #64
I cannot reproduce it yet (I don't have handy two repos with one not owned by me right now to test with) but I've attempted a fix.

Could you try using the `devel` branch of the action?

In  your `.github/workflows` you might have something like this:
[code]
Change the v1.4.1 (or perhaps you use `main`) to `devel`:
uses: cpina/github-action-push-to-another-repository@devel

And see if it works. Le

[2022-04-13 07:07] bugoverdose commented on #64
I've tried it, but nothing changed. 🥲

<img width="587" alt="image" src="https://user-images.githubusercontent.com/73531614/163119510-81064aa2-7e65-4923-b736-0a60be823400.png">

<img width="548" alt="image" src="https://user-images.githubusercontent.com/73531614/163119536-80dd244c-6345-44d5-ab52-eb0d7494173c.png">

[2022-04-13 07:11] gdonoso94 commented on #64
@cpina used `@devel`. Nothing changed though.

In case you need more information to reproduce the error: I'm using the `checkout@v2` action to pull the _other_ repository, modifying files on it, and trying to push them back.

[2022-04-13 07:15] cpina commented on #64
I'll try to reproduce the problem and fix it again. Thanks for testing and reporting back.

Are any of you using it in public repos that I could have the URL? It might help looking better into it.

Thanks!

[2022-04-13 07:18] gdonoso94 commented on #64
I'm using it in private repos, sorry 😞 .

[2022-04-13 07:25] zoha-im commented on #64
Having the same problem! 😥 was working a few days back!
![image](https://user-images.githubusercontent.com/67825158/163122308-5e93149e-115f-487d-ac95-6329d866b319.png)

Here's a partial screengrab of the workflow code
![image](https://user-images.githubusercontent.com/67825158/163121840-74156304-030a-410f-9b81-99b75a6c38ce.png)

Tried using cpina/github-action-push-to-another-repository@devel
Trie

[2022-04-13 07:26] bugoverdose commented on #64
I can show you these info if that will help.

- .github/workflows/master.yml

[code]

- Github Action (Push to github.io repository)

[code]

[2022-04-13 07:32] cpina commented on #64
Could you try again with `devel` ?

Now it should install git 2.35.2 which is the first version supporting the option that should fix the problem.
(it's now using edge Alpine repository and you should see the git version to be 2.35.2 instead of 2.34.2)

Fingers crossed. If not working I'll try to reproduce on my side, thanks for the patience.

[2022-04-13 07:40] a47ae commented on #64
I just tested it and it is still broken for me with `devel`

[2022-04-13 07:46] zoha-im commented on #64
The git version updated
![image](https://user-images.githubusercontent.com/67825158/163125512-ed86179b-cad3-44ec-8167-f5b262e7c42e.png)

But the issue still persists.
![image](https://user-images.githubusercontent.com/67825158/163126089-0bde5d8f-0e4b-46a8-a68f-f386a3e98720.png)

[2022-04-13 07:59] cpina commented on #64
I've made one more attempt in devel (trying to add the specific directory instead of `/`)

Do you mind trying once more? Sorry for the inconvenience!

If it fails again I'll try to setup the exact same problem but I might not have time until later on.

[2022-04-13 08:05] a47ae commented on #64
It seems to work now 🎉
Thank you veery much for your quick response :)

[2022-04-13 08:09] zoha-im commented on #64
Yes, ran without any issues!🚀 Thank you @cpina for your quick response!

[2022-04-13 08:13] bugoverdose commented on #64
It's beautiful. Thanks for the quick fix :)

[2022-04-13 08:17] #64 closed

[2022-04-13 08:20] cpina commented on #64
Thanks all for your help! I've pre-released `v1.4.2` and also available in `main`.

[2022-04-15 00:32] vincerubinetti opened #66 "Support using deploy keys"
I see that this action and several actions like it rely on using Personal Access Tokens for write permissions. I don't like to use PATs because (as far as I know) they can't be scoped to a single repo. If they allow write access to one repo, they allow write access to all of your (and all of the organizations you belong to's) repos.

I'm looking to have some kind of authentication that just allows

[2022-04-19 17:27] jcoryalvernaz opened #67 "Push fails with unsafe repository fatal error"
Our actions started failing recently with the following error:

[code]

[This](https://github.com/actions/checkout/issues/760) is a related issue that I found with the `checkout` action. It appears some have worked around this issue by adding a step before the action:

[code]

However, with this action, it looks like the `tmp` that gets created has a different id each time the action is run. So, I

[2022-04-19 19:00] jcoryalvernaz commented on #67
I see that it looks like this issue is being addressed in [this commit](https://github.com/cpina/github-action-push-to-another-repository/commit/e28934e9fdf3115e5efe4be89e77535042260518). I was wondering when this might make it into a new version? Thanks so much for this awesome action!

[2022-04-19 19:12] cpina commented on #67
I'll release a new version tonight or tomorrow the latest. Thanks for pinging!

[2022-04-19 21:04] cpina commented on #67
v1.4.2 has the fix. It was already released but only as a pre-release, now is a final release. Cheers @jcoryalvernaz

[2022-04-19 21:04] #67 closed

[2022-05-20 12:27] gabrieleara opened #68 "Incorrect usage of `user-name` argument"
The `user-name` argument is supposed to be the equivalent of setting `git config user.name` when using this action. Typically, this will be the real name of the person performing a commit, with name, surname and all.

For example, in my case it usually is "Gabriele Ara".

However, it is later used as a github username when cloning the destination repository, which is incorrect.
Apparently, the `de

[2022-05-25 21:49] cpina commented on #68
Thanks @gabrieleara  - I'll try to look into fixing this in `main` over the next two days.

[2022-05-25 21:51] cpina commented on #58
Hi @dlankheet-fm - Yes, I want to implement it but I would like to write/prepare tests beforehand (last time that some features were added it broke something else and it's hard now to test everything properly). Sadly I haven't had time to do this as I thought.

If you would like to have this soon I think that for now taking care of the other files either in a different step as I mentioned (sorry,

[2022-05-27 07:47] cpina commented on #68
Done @gabrieleara - thanks for reporting it. I've pushed it into main, if you want to have a quick test it would be great. I'll release it a new version probably end of next week.

[2022-05-27 13:59] Laky-64 opened #70 "Possible Bug"
My repo is public but gives to me this error:
[code]

My yaml:
[code]

[2022-05-27 14:17] cpina commented on #70
hi @Laky-64 : this is strange, I don't see how the URL could be `https://github.com/Squirrel-Network/gobotapi.git/` (see the slash at the end that you had).

https://github.com/Squirrel-Network/GoBotApiGenerator does not seem to exist now: is it right?

Could you try again? In case that there was a GitHub redirect by mistake and caused this problem? (hours ago GitHub had some problems).

Could you

[2022-05-27 14:24] Laky-64 commented on #70
Is private, lemme make public, i will try also 1.4.2

[2022-05-27 14:26] Laky-64 commented on #70
Gives the same error:
https://github.com/Squirrel-Network/GoBotApiGenerator/runs/6627004798?check_suite_focus=true

[2022-05-27 15:56] Laky-64 commented on #70
@cpina Are you there?

[2022-05-27 16:44] cpina commented on #70
This might seem strange but the error does not come from git but it seems to come from curl (for example, just a random webpage googling the error because I couldn't find it in git's source code that I was checking for this): https://support.zendesk.com/hc/en-us/articles/4408819734426-API-error-curl-3-URL-using-bad-illegal-format-or-missing-URL

Do you know if the $API_TOKEN_GITHUB has some non-as

[2022-05-27 16:46] cpina commented on #70
For example, if $API_TOKEN_GITHUB had the character `#` it would cause your error message:

[code]

Hopefully this can help you!

[2022-05-27 16:47] Laky-64 commented on #70
Lemme check it

[2022-05-27 16:49] Laky-64 commented on #70
Yep, fixed, Thanks! ❤️

[2022-05-27 16:49] #70 closed

[2022-05-27 20:12] cpina commented on #70
Happy!

Out of curiosity: was it a `#` character?

[2022-05-27 20:34] Laky-64 commented on #70
Was a space on the password

[2022-06-03 21:51] Yijia-Chen opened #71 "remote: Permission to <destination-repo-name>.git denied to github-actions[bot]"
![image](https://user-images.githubusercontent.com/38818142/171958581-12fc2cc1-2d02-4b37-8152-aa8776708e12.png)
I tried to update from a private repo to a public repo. My account has write access to both. The `API_TOKEN_GITHUB` is added as instructed in the source repo secrets. However, `git commit` seems to have no access to the destination repo.

Environment: Macbook M1 Pro

[2022-06-03 21:52] Yijia-Chen commented on #71
Curious whether I need to add a personal access token somewhere in order for the permission to work correctly.

[2022-06-08 16:07] nikita-volkov commented on #66
I absolutely agree. Using personal access tokens is a major vulnerability. It virtually makes this action unusable in a team setting, because anyone with write access to the repo where PAT is stored as a secret will be able to acquire or even mess with all your private repos via Github Actions. That is why it should not be recommended in the README and there should be a big red warning instead.

T

[2022-06-08 16:16] nikita-volkov commented on #66
Actually it's an even larger security threat, which people with write-access to this action can exploit.

[2022-06-08 19:23] vincerubinetti commented on #66
I will say that I ended up using that [leigholiver/commit-with-deploy-key](https://github.com/leigholiver/commit-with-deploy-key) package, and it ended up working fabulously.

I only bring up this issue here because, again, this package seems to be the "defacto". That is, it comes up first on google, whereas the other package was hard to find.

It's possible you don't have to reinvent the wheel if

[2022-06-08 19:25] cpina commented on #66
Thanks @vincerubinetti - I've just added a warning in the README. I hope that I can implement it leaving the majority of the logic which would be ideal. I will also refer in the README to the other action for people concerned :-)

[2022-06-08 22:50] cpina commented on #66
New branch available: https://github.com/cpina/github-action-push-to-another-repository/tree/ssh-deploy-key that allows to use the personal access token (for backward compatbility) AND ssh keys.

I will do some more testing hopefully tomorrow, write documentation and merge to "main" (and release next week probably).

[2022-06-09 19:22] cpina commented on #66
And `main` branch has ssh deploy key support. I will wait a few days before tagging a new release to catch possible problems :-|

[2022-06-09 19:23] cpina commented on #71
@Yijia-Chen : yes, you need to. I've just pushed some changes in `main` branch and you can use the personal access token or ssh keys (ssh keys recommended!). Even more: if you forget to do so now the action would let you know that you forgot.

If you are still interested try again.

[2022-06-09 19:26] cpina commented on #63
I haven't used it with private URLs, etc.

Could you copy-paste the action configuration (the yaml file from your ci)? I might be able to see what's wrong.

Sorry for taking that long to answer!

[2022-06-10 07:35] ddm999 opened #72 "Erroring with API_TOKEN_GITHUB as empty even though it's set"
After ab68811, I'm now getting

on all my runs, despite API_TOKEN_GITHUB being set in the workflow:

[code]

(and yes, the secret is set.)

This worked prior to the update, so it's definitely not a config issue on my end.

https://github.com/cpina/github-action-push-to-another-repository/blob/ab68811c3a865abed38689b4536ba8613a0914d6/entrypoint.sh#L46

It's this check which is failing for whatever

[2022-06-10 07:41] cpina commented on #72
Oops, you are right that even if the test worked it would work. In my test I used the wrong branch instead of `main`. Will fix asap, thanks for the report.

[2022-06-10 07:49] cpina commented on #72
@ddm999 and @kripul : `main` branch is fixed, thanks very much for the report.

If you had problems comment here or open a new issue.

[2022-06-10 07:49] #72 closed

[2022-06-10 07:59] kripul commented on #72
trying to deploy using deploy key. and this error appear

`Cloning into '/tmp/tmp.aLNeDB'...
Load key "/github/home/.ssh/deploy_key": invalid format
git@github.com: Permission denied (publickey).
fatal: Could not read from remote repository.
Please make sure you have the correct access rights
and the repository exists.
Error: Could not clone the destination repository. Command:
Error: git clone --

[2022-06-10 08:22] cpina commented on #72
@kripul : let's verify the steps (I've just tested and maybe the instructions are confusing, let's try).

In your machine could you try?
[code]

The expected response from GitHub is:
[code]

If it does not work: verify that the public deploy key was assigned to the destination repo (we can do one more check here but just step by step).

This key (.ssh/id_push-to-another-repository-output_ed25519)

[2022-06-10 16:17] harrietrs commented on #30
This would be a really useful addition- especially as currently using ./ as the source folder means that your git hooks are also included, which could create problems

[2022-06-11 00:49] Yijia-Chen commented on #71
I had the `API_TOKEN_GITHUB` field before and just added the `SSH_DEPLOY_KEY` as well. However, the error remains the same. Do I need to add either or both of these tokens in the destination repo as well, or just the source repo?

[2022-06-11 07:27] cpina commented on #71
Hi @Yijia-Chen . If you define the `API_TOKEN_GITHUB` and `SSH_DEPLOY_KEY` it will try using only the `SSH_DEPLOY_KEY`. Better choose one and focus on this one.

The recommended one is the `SSH_DEPLOY_KEY` (even though it has more steps). Let's try this one first?

For the `SSH_DEPLOY_KEY` you need to add the public key in the destination repo. Have you done it?
Could you try first of all in your

[2022-06-11 07:34] cpina commented on #71
If the ssh test that I mentioned in the comment before succeeds the other thing to check:
[code]

The output will be like:
[code]

This should match what you see in the deploy key of the destination repo. If it does not match the deploy key is not properly set (you used different public/private key, etc.)

Also, very important, when you see the deploy key on GitHub it should say:
[code]

I will tr

[2022-06-11 07:37] cpina commented on #71
Separate comment with something to check easy:

- If you use `SSH_DEPLOY_KEY` it ignores the token
- Please check in the destination repo that the key was added and has "Read/Write" (in the Deploy Ssh keys section on GitHub of the destination repo)
- Make sure that where you invoke the action you have something like: https://github.com/cpina/push-to-another-repository-deploy-keys-example/blob/main

[2022-06-12 19:12] muadhhaji320 commented on #42
i;m having the same problem

[2022-06-13 13:53] cpina opened #73 "Improve documentation: screenshots and better steps"
Recently I added support for ssh deploy keys.

The documentation could be improved with screenshots, better writing of the steps.

I plan to do it in the future but if anyone would like to step in please get in touch in this issue and we can discuss an approach / structure.

[2022-06-13 13:55] cpina opened #74 "Improve documentation: troubleshooting"
I'd like to improve the documentation with troubleshooting when people have problems.

For example, I helped a user in the issue https://github.com/cpina/github-action-push-to-another-repository/issues/71 where I explained a few steps when problems arise and how to know where the problem is (wrong key in the destination repo? wrong yaml in the source repo? wrong key in the source repo? invalid key

[2022-06-15 22:41] Yijia-Chen commented on #71
@cpina Thanks for your detailed response! Let me give this a try tomorrow and get back with my results here.

[2022-06-16 17:12] Yijia-Chen commented on #71
Okay, @cpina for the step where you check by running this command
`ssh-keygen -lf .ssh/id_push-to-another-repository-output_ed25519`
My computer doesn't have this file under `~/.ssh/`, only `id_ed25519.pub` and `id_ed25519`. Would this be the problem?

[2022-06-16 17:45] Yijia-Chen commented on #71
Both checks now pass but the issue persists. Do I need to push the Git Actions commits using the account given permission by the script? Perhaps that could be the issue. For clarification, I'm using a personal account for commits and a different "bot" account to perform this auto-push task.

[2022-06-16 17:49] Yijia-Chen commented on #71
Should the `.ssh` directory be in the source directory? At the moment I'm using the system directory `~/.ssh`.

[2022-06-17 21:36] cpina commented on #71
Hi @Yijia-Chen - I had missed something in your initial screenshot.

If it says "unable to access **https://.....**" (with HTTP) it really means that `SSH_DEPLOY_KEY` variable is not set (if you are using `main` branch... not the latest tagged one[1]). It also means that the `API_TOKEN_GITHUB` is not correct in the sense that maybe your user does not have permissions on the destination repo, copy-

[2022-06-30 01:18] Yijia-Chen commented on #71
<img width="874" alt="image" src="https://user-images.githubusercontent.com/38818142/176571962-dd05a8b7-8fc1-4c4b-b775-f79d877f2839.png">

Ignore what I said earlier about the bot — now I'm using my own account for the `API_TOKEN_GITHUB`. The error persists, however, and I double checked that all fields are correct. The source directory is private and the destination is public, linked [here](https

[2022-07-09 14:27] vencho-mdp commented on #30
Hi! Is there any way in which we could help with this? @cpina

[2022-07-09 17:39] cpina commented on #30
@vencho-mdp : I would still like to prepare some tests to make sure that new options don't break existing options. Testing the combinations is hard. Perhaps some approaches could be discussed in https://github.com/cpina/github-action-push-to-another-repository/issues/59 ?

[2022-07-09 17:40] cpina commented on #59
@KaviiSuri (and anyone else) : apologies for missing to reply you in February!

Yes, this is still for grab. I'm opened to proposals on how to test it (which parts to mock / fake, test the final result would be nice not only the git call, etc.).

[2022-07-09 17:42] KaviiSuri commented on #59
@cpina No issues, I'll research a bit and come up with a few options!

[2022-07-14 21:24] cpina commented on #71
@Yijia-Chen : apologies for being slow to answer. I will be monitoring this ticket for your feedback better! Also, thanks for your patience and sticking here :-)

I could reproduce the problem (exact error message) if I don't tick the "Repo" option on creating a new token. Are you sure that you ticked it?

![image](https://user-images.githubusercontent.com/489071/179087466-77d06b87-97c0-47fc-989d-

[2022-07-14 22:09] Yijia-Chen commented on #71
For `destination-github-username` and `destination-repository-username`, which one should be myself and which should be my organization which owns the repo?

[2022-07-14 22:13] Yijia-Chen commented on #71
Ok I have another suspicion. I'm using my personal account, which is an owner and admin of my organization account, to do the push (because from my knowledge you cannot generate a "personal" access token for an org account). Would that be the problem?

[2022-07-14 23:06] cpina commented on #71
I cannot remember the instructions but checking the action code:

- `destination-github-username`: your username (the personal username that you created the token with)
- `destination-repository-username`: the organisation name of the destination repository

I will revisit the documentation if this is not clear.

[2022-07-15 18:41] Yijia-Chen commented on #71
The `repo` option is indeed checked. I also tried locally and the `git clone` and `git push` using the token both work. When the hook works, does the commit says it's from github-actions[bot] or from your username?

[2022-07-15 18:48] Yijia-Chen commented on #71
Ok seems like I got a different error now! See screenshot

<img width="971" alt="image" src="https://user-images.githubusercontent.com/38818142/179291080-275dda6c-61ad-48e1-bc28-8708f532b990.png">
<img width="971" alt="image" src="https://user-images.githubusercontent.com/38818142/179291080-275dda6c-61ad-48e1-bc28-8708f532b990.png">

I changed `source-directory` from `.` (everything) to a specific

[2022-07-15 20:09] cpina commented on #71
For example, in my **global** `.gitconfig` I had (don't do this):
[code]
Which reverted my `https://github.com/` clone to use `git@github.com`. I could clone with the **wrong** token because it was reverting to git@github.com using my usual ssh setup :-)

That's why I'm asking to double check that when you use https it fails with the wrong token locally. To make sure that when you use the token it

[2022-07-15 21:37] Yijia-Chen commented on #71
It indeed is using the token. If I modify any one character of it, it says `Invalid username or password`.

Just to make sure, I add the personal access token in the destination repo like the following by just pasting in the token value:
![image](https://user-images.githubusercontent.com/38818142/179314419-1cd6d511-ce33-441a-982a-82d2135f9582.png)

This is correct?

[2022-07-15 21:47] Yijia-Chen commented on #71
Ok it just worked! My mistake was that I was updating the token in the destination repo; instead it should be done in the source repo.

[2022-07-15 21:51] Yijia-Chen commented on #71
Is there a way I can specify which branch on the source repo to track? For example, my default branch might be `develop`, but I want to track the `release` branch.

[2022-07-15 22:33] cpina commented on #71
:fireworks: I'm happy! :smile:

[2022-07-15 22:35] cpina commented on #71
You can decide on which branches the job is used. Use GitHub syntax. For example, if you only want it for the main branch:
https://github.com/cpina/push-to-another-repository-example/blob/main/.github/workflows/ci.yml#L7

[2022-07-15 22:46] cpina commented on #71
I've quickly tested to use as `.` (to do everything) as `source-directory`. It has the tricky thing that `.github/workflow/` is copied to the destination repository so it will trigger a build in the destination repository which might be confusing.

You could disable Actions in the **destination** repository. Click on `Settings` on the destination repository, then on the left hand side pane "Action

[2022-07-16 04:19] Yijia-Chen commented on #71
Yes, the last paragraph you mentioned would be very helpful. In addition, it would be great if there's a way to "test port" the repo without actually publishing it there, because I wish to keep my public repo's commit history clean. Please let me know if/once you add those. But generally, thanks a lot for your responses and helping me figure out solutions!

[2022-07-16 20:31] cpina commented on #71
I will add an example on how to add / exclude files and add a comment here.

[2022-07-16 20:33] cpina commented on #71
If testing things you made some mistakes you can fix them using git rebase or git push --force. It might help you but please read the consequences of rewriting git's history! But technically it works.

[2022-07-19 20:25] theahura opened #75 "Repository not found"
I was able to successfully use this action 3 days ago. Unfortunately, starting today im seeing the following error:

[code]
tried resetting the personal access token I was using, but didn't seem to make any difference. Any idea what's going on?

[2022-07-19 21:11] cpina commented on #75
Hi @theahura - I've just tried it and it worked for me (using a personal token).

Is the origin and destination repos public? Or only one? Can you link to them so I see the full action output and verify things? If you cannot link to them I'll try to send some instructions that will help (hopefully) knowing more. And the full copy-paste of the github output would help as well I think.

[2022-07-19 21:28] theahura commented on #75
All private, unfortunately, but I ended up finding the fix: https://stackoverflow.com/a/69979203/3269537

TLDR looks like this is a known issue with github tokens in actions. Running
`git config --unset-all http.https://github.com/.extraheader`
before running this script fixed the issue

[2022-07-19 21:28] #75 closed

[2022-07-19 21:48] cpina commented on #75
Thanks @theahura for adding the solution!

Just for me to understand your solution: are you running the ` git config --unset-all http.https://github.com/.extraheader` in a step previous to the step that is using the `github-action-push-to-another-repository` action?
Thanks!

[2022-07-19 21:53] theahura commented on #75
Yep, exactly that. It's just a normal run step

[2022-07-20 15:33] #71 closed

[2022-07-27 13:08] Poowerllz opened #76 "How i send all of my repository to another?"
I need to push all my X repository to Y repository
In the example build.sh specifies only a few files.

[2022-07-27 13:52] cpina commented on #76
You should be able to push all your X repository into Y repository. One way is to use as a `source-directory` the current directory (`.`) but then the `.github` folder is copied over and will trigger GitHub action on the destination repository. To avoid this (which confuses matters) I recommend to disable the GitHub Actions on the destination repo (as explained here: https://github.com/cpina/githu

[2022-08-24 12:05] TimDaub commented on #58
At neume-network we're also using this action and sparing some files from being deleted would help us:

- https://github.com/neume-network/data/blob/089cb1b25c95435ab04fe05aaa767aa5c9197d0f/.github/actions/run_step/action.yml#L68-L79
- https://github.com/neume-network/data/issues/26

[2022-09-02 05:36] instance0f opened #78 "Having Errors with no logs"
![image](https://user-images.githubusercontent.com/77665552/188066047-1544c4f9-545c-4be7-8258-81db4b70b5bd.png)
please see screenshot

[2022-09-02 05:46] instance0f commented on #78
These is my workflow:

jobs:
  build:
    name: Replicate to Deployment Manifest
    runs-on: [ self-hosted ]
    steps:
      # Checkout Source Project
      - name: Check-out source project
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.DEPLOYMENT_ACCESS_TOKEN }}
      # Push to the destination repo
      - name: creates output
        run:  sh ./build.sh
      - na

[2022-09-02 18:51] cpina commented on #78
Hi @instance0f ,

I would expect after the line in your screenshot:
`[+] Using SSH_DEPLOY_KEY` some more lines such as:

[code]
And quite a few more.

Is there anything else?

I'm specially interested in what's after:
`[+] Pushing git commit`

(I hope to see some kind of error that helps debugging it)

[2022-09-02 18:52] cpina commented on #78
Also, I see that you use a hosted server. I think that the action will try to reach it on the port 22 from a GitHub server, is it reachable? If you had access to the ssh logs to see if a connection is attempted (with success or error) it might also help.

Thanks for (trying to) use the action :-)

[2022-09-04 03:40] instance0f commented on #78
Hi cpina,

Hi Cpina,
there are no other logs after the line [+] Using SSH_DEPLOY_KEY.

Ive tried using this in my personal github and it worked. But in my enterprise it doesnt.

[2022-09-04 03:46] instance0f commented on #78
Hi @cpina ,

Thanks for your prompt reply. I am using a self-hosted linux runner without admin permissions. Should there be  an issue?

[2022-09-04 12:46] cpina commented on #78
Shouldn't be the problem. I will prepare a branch to try to gather more information. I will comment here with some steps :-)

[2022-09-04 22:25] cpina commented on #78
Hi @instance0f ,

Instead of:
[code]

Could you use:
[code]

It might be fixed in this version: please let me know and I'll move the fix to master.
If it's not fixed: probably there will be more messages, at least:
[code]

And maybe:
[code]

Let me know of the messages please to continue debugging.

Thanks for your report!

[2022-09-05 01:08] instance0f commented on #78
![image](https://user-images.githubusercontent.com/77665552/188341641-d34d6371-3452-41dd-8ce8-01d0a11aa0f2.png)
Hi @cpina ,

Please see image. Additional line of
[code]

[2022-09-05 01:09] instance0f commented on #78
How can i check port 22? and ssh logs?

Thanks

[2022-09-05 07:24] cpina commented on #78
Thanks, I see the additional line but I still don't know why the ssh-keyscan would fail silently.

Could you do another build? (same debug-78 branch, just make sure that it triggers the build again with the action).

You should see:
```[+] SSH public keys gathered from server (with extra information)```

And hopefully some more information (a path, the output of an ls -l) and the commands being ex

[2022-09-05 11:16] instance0f commented on #78
![image](https://user-images.githubusercontent.com/77665552/188436362-13eb8cf9-d3f2-40b0-86a8-38668c010378.png)
Hi @cpina

Please see screenshot above. (used debug-78 branch)
- i also used a service admin account for creating SSH deploy keys
- added permissions in the destination repository

[2022-09-05 11:28] cpina commented on #78
Hi @instance0f ,

Could you try again? I had the lines in the wrong order so it failed before it could gather the information that I think that might be useful.

Actually I have an idea but I'd like to confirm it in the output. We might need two more tests but if you could try again and show the output will be useful, I hope!

Thanks!

[2022-09-05 11:39] instance0f commented on #78
![image](https://user-images.githubusercontent.com/77665552/188440387-76d22575-abd2-44b9-b917-84c8cde19c8c.png)
![image](https://user-images.githubusercontent.com/77665552/188440444-1b275257-ce70-46fc-b9d1-b83b0aea903a.png)

Hi @cpina ,
can we organize a working session? in skype maybe? :)

[2022-09-05 12:23] cpina commented on #78
I've added some more debug information - could you try a new execution please?

No availability for now for a Skype and anyway I need to think between attempts :-) thanks for your patience!

[2022-09-05 12:53] instance0f commented on #78
![image](https://user-images.githubusercontent.com/77665552/188453421-9b7bc13f-c7d0-4c52-8eef-cab256818a1c.png)

Hi @cpina
it displayed some errors

this should be regarding the following parameters:

-  destination-github-username: 'Business-Technology'
- destination-repository-name: 'deployment-manifest'
- target-branch: mlab-cd-test
- user-email: btservicea@gisd88.com

[2022-09-05 12:57] cpina commented on #78
I'm more interested in the output of the area near:
`SSH public keys gathered from server`

It failed "later" because the action had `set -e` which cancels the execution if a command fails. For you it's failing on the `ssh-keyscan`. I need to understand why it fails in the `ssh-keyscan` first. I thought that the `set -e` might be hiding an error message of `ssh-keyscan`.

So, a screenshot near  `S

[2022-09-05 13:06] instance0f commented on #78
![image](https://user-images.githubusercontent.com/77665552/188456374-c6e42eeb-d5d2-478a-8896-f3a163a69a2d.png)
![image](https://user-images.githubusercontent.com/77665552/188456441-2341e300-cd4c-4b88-9f52-dbfa7e1ae2d6.png)
![image](https://user-images.githubusercontent.com/77665552/188456497-3e23de48-ab2a-4104-962d-e4e3679bdea3.png)

[2022-09-05 13:46] instance0f commented on #78
![image](https://user-images.githubusercontent.com/77665552/188463817-393fc683-2656-4b3e-97ca-9fdfb2032420.png)
![image](https://user-images.githubusercontent.com/77665552/188463860-82360c27-560c-48f6-9938-d40c06cbb986.png)
![image](https://user-images.githubusercontent.com/77665552/188463901-95e2b538-c079-4c7e-92cc-2e83bcad82c7.png)

[2022-09-05 14:11] cpina commented on #78
Hi @instance0f ,

I read that `ssh-keyscan` returns "nothing" if it times out (or no connection can be established):
https://unix.stackexchange.com/questions/346376/ssh-keyscan-has-no-output

I had expected `ssh-keyscan` to print an error message if a network problem happened but it fails silently. Thanks to your problem and patience I know this :-) (I will probably add a message in that place, do

[2022-09-05 22:36] cpina commented on #76
Finally I've published the new documentation and covered this case: https://cpina.github.io/push-to-another-repository-docs/faq.html#how-can-i-copy-the-whole-repository

Please get in touch if something is not clear.

[2022-09-05 22:36] #76 closed

[2022-09-05 22:37] cpina commented on #74
New documentation with troubleshooting section: https://cpina.github.io/push-to-another-repository-docs/troubleshooting.html

[2022-09-05 22:37] #74 closed

[2022-09-05 22:37] cpina commented on #73
New documentation with better detailed steps: https://cpina.github.io/push-to-another-repository-docs/setup-using-ssh-deploy-keys.html#setup-ssh-deploy-keys and https://cpina.github.io/push-to-another-repository-docs/setup-using-personal-access-token.html#setup-personal-access-token

[2022-09-05 22:37] #73 closed

[2022-09-05 22:43] cpina commented on #66
Closing issue (was included in the release v1.5)

[2022-09-05 22:43] #66 closed

[2022-09-05 22:44] cpina commented on #30
See (new) FAQ: https://cpina.github.io/push-to-another-repository-docs/faq.html#how-can-i-copy-only-some-files-only-some-directories-exclude-some-files-etc

Next days I plan to improve the FAQ but it links to an example of filtering that hopefully helps you.

[2022-09-05 22:44] #30 closed

[2022-09-05 22:52] cpina commented on #52
Thanks, I've decided that for now I'll leave it as "out of scope" (since no tests yet, and that the action reports the problem and the branch can be created before the action is used, at least in the most common cases).

[2022-09-05 22:52] #52 closed

[2022-09-05 22:56] cpina commented on #22
I'll close the issue for now since there hasn't been lots of movement or other users requesting it.

I think, but I'm not sure, that depends on the case it could be implemented setting up the `COMMIT_MESSAGE` variable? Making it dynamic on what happens but before the action. Let me know if this was still wanted and we can look at this.

[2022-09-05 22:56] #22 closed

[2022-09-05 22:59] cpina commented on #19
I think that this could be implemented outside the action following a similar pattern to https://cpina.github.io/push-to-another-repository-docs/faq.html#how-can-i-copy-only-some-files-only-some-directories-exclude-some-files-etc using a step before the action

If this is still wanted I will take a look. If not I might close it for now.

[2022-09-05 22:59] #19 closed

[2022-09-05 23:04] cpina opened #79 "Verify that if source-directory and destination-directory are "." it works"
As title says, the .git directory might be moved into the destination/.git .

A report about this:
https://github.com/cpina/github-action-push-to-another-repository/issues/42#issuecomment-997977129

Needs verification that still happens and fix (or avoid this configuration)?

[2022-09-05 23:05] cpina commented on #42
I've opened https://github.com/cpina/github-action-push-to-another-repository/issues/79 to re-verify and action. Thanks for the report.

[2022-09-05 23:05] #42 closed

[2022-09-05 23:06] cpina opened #80 "ssh-keyscan might fail, action exits without error"
Seen in https://github.com/cpina/github-action-push-to-another-repository/issues/78

If ssh-keyscan fails (timeout, especially depending on the network configuration when using a different github server or hosted workers) the GitHub Action aborts without any error message.

[2022-09-05 23:07] cpina commented on #63
Closing due to inactivity.

[2022-09-05 23:07] #63 closed

[2022-09-05 23:12] cpina commented on #58
I will close this issue because, hopefully, that can be done outside GitHub Action with a similar pattern as described in the FAQ: https://cpina.github.io/push-to-another-repository-docs/faq.html#how-can-i-copy-only-some-files-only-some-directories-exclude-some-files-etc

It might need copying files from the destination repository before hand. Is it a possibility for you?

I'm trying to avoid addi

[2022-09-05 23:12] #58 closed

[2022-09-05 23:13] cpina commented on #17
The Action reports the situation correctly. To avoid regressions and too many flags I didn't merge the MR but I would like to say again thanks for submitting it! It might be useful to other people or for future reference.

[2022-09-05 23:13] #17 closed

[2022-09-05 23:30] cpina opened #81 "Documentation: add example with sphinx"
Since generating sphinx documentation and pushing into GitHub Action is a common pattern: add documentation for this.

It can be seen in the https://github.com/cpina/push-to-another-repository-docs

[2022-09-06 01:31] nikita-volkov commented on #66
Very responsible maintenance! Thank you!

[2022-09-06 01:31] instance0f commented on #78
Hi @cpina ,

No, the destination repo is in the same server: "github.gisd88.com"
can you please add a parameter something like organization?

my whole source repo url is: https://github.gisd88.com/Business-Technology/deployment-manifest-secret
my whole target repo url is: https://github.gisd88.com/Business-Technology/deployment-manifest

Thanks!

[2022-09-06 07:01] cpina commented on #78
In this case you need, in  your action, to set the `github-server` variable to `github.gisd88.com`.

But I see in a message above that you had done this.

Do you know if this is still the case? Because in your screenshot of the configuration I see that you had `github-server` but in the output of the action it seems that you didn't (I wonder if you had two source repos that you were testing, a typ

[2022-09-06 07:02] cpina commented on #78
(note that today I will not be around the computer, if I don't answer I will do in the evening or next days)

[2022-09-06 08:42] instance0f commented on #78
Hi @cpina,

Thanks for the immediate response. These are the parameters i am using:

          source-directory: output/
          github-server: 'github.gisd88.com'
          destination-repository-name: 'Business-Technology/deployment-manifest'
          target-branch: mlab-cd-test
          user-email: btservicea@gisd88.com

Thanks,
Kevin

[2022-09-06 11:07] instance0f commented on #78
Hi @cpina,

Can we cross this issue out?
my source and destination are on the same server: github.gisd88.com

[2022-09-06 19:46] cpina commented on #78
Hi @instance0f ,

We need to double check something...

In your very first screenshot (https://user-images.githubusercontent.com/77665552/188066047-1544c4f9-545c-4be7-8258-81db4b70b5bd.png) I see:
[code]

This is correct. In the pre-last line of blue-text (done by GitHub before it reaches the action) I see:
[code]

At this point it made it to the action but because of an error (fixed) in the actio

[2022-09-07 21:30] cpina opened #82 "Documentation: add quickstart steps"
Add "quickstart" with a full example, example link and setup steps

[2022-09-07 21:31] cpina opened #83 "Documentation: improve FAQ for "filtering""
Improve example of filtering with:

- full example on the documentation
- better explanation of rsync filtering? (or links to the rsync manual / webs)

[2022-09-11 23:35] cpina commented on #83
Done! https://cpina.github.io/push-to-another-repository-docs/faq.html

[2022-09-11 23:35] #83 closed

[2022-09-11 23:35] cpina commented on #82
Done: https://cpina.github.io/push-to-another-repository-docs/setup-example.html

[2022-09-11 23:35] #82 closed

[2022-09-12 06:58] instance0f commented on #78
hi @cpina

Sorry for the late response, i was away last weekends.
[code]

These are the parameters im using now. not sure which is the branch to use currently. Im at main ATM

[2022-09-12 23:29] cpina commented on #81
Done: https://cpina.github.io/push-to-another-repository-docs/sphinx-example.html

[2022-09-12 23:29] #81 closed

[2022-09-12 23:37] cpina opened #84 "Remove unused variable SOURCE_BEFORE_DIRECTORY and input source-before-directory:"
In entrypoint.sh there is a non-used variable `SOURCE_BEFORE_DIRECTORY` that can be deleted (and then modifying the argument indexing for the other avariables). The input `source-before-directory` in action.yml can also be deleted.

[2022-09-12 23:43] cpina commented on #78
Hi,

Could you take a screenshot similar to https://user-images.githubusercontent.com/77665552/188463817-393fc683-2656-4b3e-97ca-9fdfb2032420.png (I'm after the lines in blue) of the latest execution? I want to see if the github-server is still github.com or is the one that you specify.

Also, to be sure that there are no duplicates / typos could you do in the root of your repo:
`grep -H . .github

[2022-09-13 01:48] instance0f commented on #78
Hi @cpina

1. Full workflow screenshot: Please see attached for
![screencapture-github-gisd88-Business-Technology-deployment-manifest-secret-runs-5314-2022-09-13-09_39_29](https://user-images.githubusercontent.com/77665552/189788661-153febb6-fc9f-4d8f-bda9-8b6625fe38f3.png)
full screenshot

2. Root contents Screen
![root ss](https://user-images.githubusercontent.com/77665552/189789200-13ecb1e7-999

[2022-09-13 07:51] cpina commented on #78
Good news: in the set of blue lines I finally see "github.gisd88.com" as specified in the "github-server". As you can see now it also does "Using SSH_DEPLOY_KEY" (with a few lines) and continues with "Git version". We progressed (initially this didn't happen because of a bug in the action that I fixed, then github.gisd88.com was not passed to the action and I'm not sure why not... but all is good

[2022-09-13 13:06] instance0f commented on #78
Hi @cpina,

Thanks for patiently answering to my concerns, i think we are nearing completion :)

the previous error is that /output is already existing so i modified the
source-directory: testsource
i also created a very simple build.sh
[code]

Please see screenshot of result. it seems this is reading a different source folder:
![image](https://user-images.githubusercontent.com/77665552/189908881-

[2022-09-13 15:27] cpina commented on #78
Would it be possible that you copy-paste (or take a screenshot) of your whole workflow file? Thanks! :-)

[2022-09-14 05:51] instance0f commented on #78
[code]

[2022-09-14 18:46] cpina commented on #78
Ha! I had written a longer answer but meanwhile I saw (and reproduced!) the problem. I hope that in your `self-hosted` runner will work. It might work... let me know.

So, could you add a line:
    runs-on: ubuntu-latest
Under your: runs-on?

So like this:
[code]

It seems that the `container` is needed in order to make the files from outside the action available in the action. To be honest: I've

[2022-09-14 18:46] cpina commented on #78
If it does not work copy-paste your configuration YAML file and the output, as always. Thanks!

[2022-09-14 19:25] cpina commented on #78
I'm looking a bit more and it might not be needed to have the container (as I see the action used without the container). But let's try this since it might be needed in the `[ self-hosted ]`...

[2022-09-14 19:55] cpina commented on #78
Note that I edited an earlier comment. Please note that it is:
[code]
Not "ubuntu-latest" as I had in a previous version of the message.

[2022-09-15 07:30] instance0f commented on #78
Hi @cpina ,

I added container: ubuntu after the runner.
![screencapture-github-gisd88-Business-Technology-deployment-manifest-secret-runs-5599-2022-09-15-15_28_22](https://user-images.githubusercontent.com/77665552/190342325-fa1a6fab-b090-4bbe-b1e6-fe30979b7e99.png)

Please see logs. I think there is an issue with our github runner as you mentioned. It's not able to create containers

[2022-09-15 08:34] cpina commented on #78
Today I will be away from the computer. I will follow up in the evening or tomorrow. I have an idea that I want to test first and then try that might help. Thanks!

[2022-09-15 08:38] cpina commented on #78
By the way, if they could enable using docker containers it would also solve the problems I think :-)

[2022-09-15 09:38] xarthurx opened #85 "Windows support"
I'm trying to use the action to push a project build by `msbuild` using .net framework on Windows host.
However, when trying to push it to another repo, I got:
![image](https://user-images.githubusercontent.com/1921878/190370709-c2aa4c2a-743a-44dc-a1f9-783c874b8305.png)

Is there any possibility to support Windows at some point?

[2022-09-15 22:38] cpina commented on #85
For what I'm reading (in other actions issues) the action should be written in JavaScript in order to work on Windows or MacOS. If you are working on Windows and GitHub... do you know if this is correct? Thanks!

[2022-09-15 22:55] xarthurx commented on #85
I investigated a bit and found that it is docker that Windows cannot support.

I forked your action and modified to the "composite" version, which works on Windows (the VM can somehow run bash scripts)

https://github.com/xarthurx/github-action-push-to-another-repository-win

If you want, I can submit a PR. Otherwise, I'll keep it for my own use.

[2022-09-15 23:20] cpina commented on #78
As you suggested: it seems to be that your hosted GitHub cannot create containers. Could this be fixed?

Second thing: I've done, more as an **experiment** (that might help you) than a final solution a change in the branch `debug-78`. Could you try again but instead of using:
[code]
Use:
[code]
Thanks!

[2022-09-15 23:21] cpina commented on #85
(Related #36)

[2022-09-15 23:27] cpina commented on #85
Oops, to try helping another user (#78 ) I've done exactly the same (composite experimental version) in https://github.com/cpina/github-action-push-to-another-repository/tree/debug-78 (but working on Ubuntu/Debian because installing the openssh-client and git).

In your fork: I like that you used variables instead of arguments for entrypoint.

No need to create a MR for now but thanks for offering

[2022-09-15 23:30] cpina opened #86 "Composite version branch for Windows, Mac and hosted runners without containers"
A version of the action running without Docker (so, as composite as seen in the branch "debug-78" and https://github.com/cpina/github-action-push-to-another-repository/blob/debug-78/action.yml#L53) could be released:

- Needs documenting: how to use it and that supports Windows and Mac
- Supports hosted GitHub action runners without containers (if sh, openssh-client and git are available)

[2022-09-15 23:31] cpina opened #87 "Documentation: only Linux runners supported at the moment"
Currently only Linux runners are supported (see #86, #85, #36). Add this information in the documentation and alternatively add reference to the branch that might support composite version (see #86 and https://github.com/cpina/github-action-push-to-another-repository/blob/debug-78/action.yml#L53)

[2022-09-15 23:32] xarthurx commented on #85
Because in "composite" mode, you cannot pass an argument...

Sure.

[2022-09-16 06:15] instance0f commented on #78
Hi @cpina ,

Thanks for all the help! same error with the debug-78 branch

[2022-09-16 08:07] cpina commented on #85
I did it: https://github.com/cpina/github-action-push-to-another-repository/blob/debug-78/action.yml#L57

It has the advantage that I didn't need to change how entrypoint.sh receives the options. But I could make entrypoint.sh to receive the options via environment variables or arguments.

I will close this ticket when I've documented the current state of the action regarding Windows (probably the

[2022-09-16 08:30] xarthurx commented on #85
Ah, yeah, you can pass it as `cmd` argument. That's smart.
I meant the way that docker did.

[2022-09-16 22:15] cpina commented on #78
Hi @instance0f - apologies, I forgot to mention to also remove the line `runs-on: ubuntu`.

To clarify: the branch `debug-78` would work without creating a Docker container. It assumes that the system that is running is an Ubuntu/Debian based (it tries to install the packages openssh-client and git using apt-get), and then it tries to use the action without a container. I've tested it and it worke

[2022-09-19 04:30] instance0f commented on #78
Hi @cpina,

Please see error below: thanks
![image](https://user-images.githubusercontent.com/77665552/190950044-d35c2584-8909-4da1-86bb-3d18932493aa.png)

[2022-09-20 21:45] cpina commented on #78
This is promising but it might be a dead end. Let's try building it again.

If the packages `git` and `openssh-client` are installed in the machine it might work! (it's still a long shot but I'm really interested in knowing this). Thanks for continuing this!

[2022-09-21 05:57] instance0f commented on #78
Hi @cpina

Sorry for the late update. I was able to fix my code by adding path upon checkout. Please see below:
[code]
It seems there are some issues with the self-hosted runner and your code.
Thank you so much cpina for answering my queries. :)

[2022-09-21 05:57] #78 closed

[2022-09-21 12:36] cpina commented on #78
Hurray! That approach was one of my next ideas :-) Happy that you got it working! Thanks to your discussion I got one bug fixed and one good idea for the future, so win-win.

BTW, I think that with your current approach if a file was in `app-deployment/` and is not in `app-source/`: it will not be deleted. This might or might not be what you want but it's different to what the action is doing, so

[2022-10-21 13:15] xarthurx opened #90 "possible to also push version info / tags?"
Not a bug but a feature request.

I'd like to push the compiled file from one repo  `A` to another repo `B` with customized info like `tag` or versioning.
So that when repo `B` get the push, another action in `B` will make it into a `release` with "tagged version/title".

I know there is a `commit-message`, but that one is just a message and cannot be extracted. I can push a tag to the new repo?

[2022-10-21 15:02] xarthurx opened #91 "keep the `.github` folder in the target repo."
I have set some workflow in the target repo so that once the code is pushed, there'll be some actions to run in the target repo.

But it seems the current action only maintains the normal file, but does not copy the `.github` folder  -- as a result, the `.github` folder will be lost.

Would it be possible to fix that?

[2022-10-22 20:38] cpina commented on #91
I had expected the `.github` folder to be copied. I will double check and fix it (hopefully the next few days). I confirm that this would be a bug.

[2022-10-22 20:40] cpina commented on #90
Another user recently submitted a PR: https://github.com/cpina/github-action-push-to-another-repository/pull/92 that might help do what you wanted?

[2022-10-29 03:18] agonzalez-plume opened #94 "Update docs to show that Github PATs now support find-grained access"
Docs posted here: https://cpina.github.io/push-to-another-repository-docs/setup.html contain info that is now not entirely accurate.

on 10/18, Github launched a new feature for PATs allowing them to be restricted in new ways and now don't have the downside of applying to all repositories. The original PAT structure is called 'classic' and it looks like Github will be quickly moving everyone to th

[2022-10-29 19:32] cpina commented on #94
I think that you are right with the new PATs, thanks for spotting it. I will review it properly and update the documentation (probably late December, I don't really have any time right now). Thanks!

[2022-11-29 16:52] legendsayantan commented on #91
Giving it a bump, would love if there is a optional parameter to keep the .github folder (or any folder in general) intact or not, because we often might want to copy files from a repo to another without changing the workflows.